h2 {
    margin-top:1rem;
    margin-bottom:1rem;
}

.payment-group{
    border: 1px solid grey;
    padding: 7px;
    margin: 15px;
}

.btn-block{
    height: 40px;
    margin: auto;    
}

a.btn{
    color: white!important;
}

.seperate-bar{
    margin-left: -15px;
    margin-right: -15px;
    margin-top:5px;
    margin-bottom: 10px;
}

.round-btn{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    outline: none;
}
